<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products Page</title>
</head>
<body>
    
    <h1>CREATE A NEW PRODUCT</h1>
 <form action ="/new" method="POST" id="new">
    Name: <input type="text" name="name">
    Description: <input type="text" name="description" id="">
    Image: <input type="text" name="img" id="">
    Qty: <input type="number" name="qty" id="">
    <input type="submit" name="submit" value="New product" id="">

 </form>
     
</body>
</html>